@media all and (max-width: 767px) {
    @import "./utils/mixins";
    @import "./utils/variables";
    @import "./utils/functions";
    @import "./utils/extensions";
    @import "./base/base";
    @import "./base/typography";
    @import "./components/buttons";
    @import "./layouts/header";
    @import "./layouts/nav";
    @import "./layouts/container";
    @import "./layouts/form";
    @import "./pages/work";
    @import "./pages/about";
    @import "./pages/project";
    
    #Dahmer {
        margin-left: 18%; 
    }
    body {
        margin-bottom: 0px;
    }
    .spinner {
        position: absolute;
        top: 26%;
        left: 45%;
        transform: translate(-50%, -50%);
        transition-delay: 1500ms;
        &__circle {
            position: absolute;
            width: 54px;
            height: 54px;
            overflow: hidden;
            background: linear-gradient($color-primary,$color-secondary,$color-tertiary);
            border-radius: 100%;
            animation: spin 2s linear;
            opacity: 0;
            &-inner,
            &-gradient {
                position: absolute;
                width: 44px;
                height: 44px;
                transform: translate(-50%, -50%);
            }
            
            &-inner {
                top: 50%;
                left: 50%;
                background-color: $color-tertiary;
                border-radius: 100%;
            }
            
            &-gradient {
                top: -24px;
                left: 6px;
                background-color: $color-primary;
                background-image:    -moz-linear-gradient(0deg,$color-primary 0%,$color-secondary 50%);
                background-image: -webkit-linear-gradient(0deg,$color-primary 0%,$color-secondary 50%);
                background-image:         linear-gradient(0deg,$color-primary 0%,$color-secondary 50%);
                transform: rotate(-45deg);
            }
        }
    }
    
    #ajust-content  {
        margin-left: 20px;
    }
    
    #ajust {
        margin-left: 10px;
        padding-top: 25px;
    }
    
    .size > img {
        width: 105%;
        margin-left: -10px;
    }
    .carte {
        height: 1170px;
        background-color: white;
        margin-top: -75px;
        position: relative;
        width: 105%;
        margin-left: -10px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        &   h2 {
            padding-top: 20px;
            padding-left: 26px;
            font-family: Shrikhand;
        }
    }
    
    .heart  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &    .fa-heart {
            margin-top: 42px;
        }
    }
    
    .colonne_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height:18%;
        .card_menu {
            margin-top: 15px;
            width: 92%;
            height: 31%;
            box-shadow: -9px 12px 99px 5px #46444438;
            border-radius: 20px;
            margin-left: 15px;
            animation-delay: 1s;
            -webkit-animation: slide-down 0.5s ease-in-out both;
            animation: slide-down 0.5s ease-in-out both;
        }
    }
    .card_menu_alternate_1  {
        margin-top: 15px;
        width: 92%;
        height: 31%;
        box-shadow: -9px 12px 99px 5px rgba(70,68,68,.2196078431);
        border-radius: 20px;
        margin-left: 15px;
        animation-delay: -3s;
        -webkit-animation: slide-down 1s ease-in-out both;
        animation: slide-down 1s ease-in-out both;
    }
    
    .card_menu_alternate_2 {
        margin-top: 15px;
        width: 92%;
        height: 31%;
        box-shadow: -9px 12px 99px 5px rgba(70,68,68,.2196078431);
        border-radius: 20px;
        margin-left: 15px;
        animation-delay: -4s;
        -webkit-animation: slide-down 2s ease-in-out both;
        animation: slide-down 2s ease-in-out both;
    }
    .scale-in-hor-right {
        width: 18%;
        height: 410%;
        display: none;
        background-color: $color-tertiary;
        border-bottom-right-radius: 13px;
        border-top-right-radius: 13px;
        margin-top: -20px;
        margin-right: -21%;
        
    }
    
    #alternate {
        width: 18%;
        height: 510%;
        background-color: $color-tertiary;
        border-bottom-right-radius: 13px;
        border-top-right-radius: 13px;
        margin-top: -20px;
        margin-right: -21%;
        
    }
    
    
    #text-ajust > p:nth-child(2) > strong:nth-child(1) {
        font-size: initial;
    }
    div.colonne_menu:nth-child(7) > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) {
        width: 209.033px;
    }
    
    div.colonne_menu:nth-child(5) > div:nth-child(1) {
        font-size: 12px;
    }
    #hight > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > i:nth-child(1) {
        margin-left: 15%;
    }
    
    
    .fa-circle-check {
        margin-top: 30px;
        -webkit-animation: rotate-center .6s ease-in-out both;
        animation-delay: 1s;
        animation: rotate-center .6s ease-in-out both;
        animation-delay: 1s;
        margin-left: 17%;
    }
    .colonne_menu:hover  > .card_menu , .colonne_menu:hover  > .card_menu_alternate_1 , .colonne_menu:hover  > .card_menu_alternate_2  {
        display: initial;
    }  
    div.colonne_menu:nth-child(5) > div:nth-child(3) > div:nth-child(2) > p:nth-child(1) {
        width: 201.75px;
    }
    div.colonne_menu:nth-child(7) > div:nth-child(1) > div:nth-child(2) > p:nth-child(1) {
        width: 211.283px;
    }
    .card_menu:hover .scale-in-hor-right,.card_menu:hover .scale-in-hor-right_note {
        animation: scale-in-hor-right 1s ease-in-out 450ms backwards;
        -webkit-animation: scale-in-hor-right 1s ease-in-out 450ms backwards;
        display: initial;
        color: white;
    }
    .card_menu_alternate_1:hover .scale-in-hor-right {
        animation: scale-in-hor-right 1s ease-in-out 450ms backwards;
        -webkit-animation: scale-in-hor-right 1s ease-in-out 450ms backwards;
        display: initial;
        color: white;
    }
    .card_menu_alternate_2:hover .scale-in-hor-right {
        animation: scale-in-hor-right 1s ease-in-out 450ms backwards;
        -webkit-animation: scale-in-hor-right 1s ease-in-out 450ms backwards;
        display: initial;
        color: white;
    }
    #meringue,#rhum,#chocolat,#celeri,#patate, #boeuf {
        height: 443%;
    }
    #ble , #orange , #pain {
        height: 508%;
    }
    .card_menu:hover .scale-in-hor-right_alternate {
        animation: scale-in-hor-right 1s ease-in-out 450ms backwards;
        -webkit-animation: scale-in-hor-right 1s ease-in-out 450ms backwards;
        display: initial;
        color: white;
    }
    
    .fa-heart {
        font-size: 22px;
        margin-right: 21px;
        transition-duration: 2s;
        transition-property:transform;
        display: block;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0.56);
        height: 21.2px;
        margin-top: 5px;
        &:hover {
            animation: fa-heart 2s infinite ease-in-out ;
            font-weight: bolder;
            background-color: white;
            cursor: pointer;
        }
    }
    
    .fa-1, .fa-2 ,.fa-3 {
        color: white;
    }
    
    .fa-arrow-left {
        -webkit-text-fill-color: rgb(0, 0, 0); 
    }
    .logo {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: -52px;
        &    img {
            margin-left: -102px;
            width: 44%;
            padding-top: 10px;
            padding-bottom: 10px;    
        } 
    }
    .choice-meal {
        border-bottom: 3px solid $color-tertiary;
        width: 41px;
        margin-left: 25px;
        margin-top: 9%;
        margin-bottom: 21%;
        
    }
    #size {
        font-size: 15px;
    }
    #top {
        padding-top: 0px;
    }
    #more {
        height: 1300px;
    }
    
    #hight {
        height: 345px;
    }
    
    .where {
        margin-left: -10px;
        width: 105%;
        background-color:$color-light_grey;
        height: auto;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .food {
        padding-bottom: 50px;
        margin-top: 60px;
        margin-left: -10px;
        width: 105%;
        height: 100%;
        background-color: $color-light_grey;
    }
    
    .space {
        display: flex;
        width: 250px;
        justify-content: space-around;
        align-items: center;
    }
    
    .fa-1 {
        margin-left: -15px;
    }
    .fa-2 {
        margin-left: -16px;
    }
    .fa-3 {
        margin-left: -18px;
    }
    .icones > .fa-solid {
        border-right-width: 10px;
        border-right-style: solid;
        border-color: #DCDCDCBD;
    }
    .btn-choisir > .fa-circle {
        color: $color-primary;
        margin-left: -4%;
    }
    
    .restaurant {
        margin-top: -6%;
        &   h1 ,  p  {
            text-align: center;
        }
        &   h1 {
            width: 285px;
            margin-top: 55px;
        }
    }
    
    .colonne {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
        height: 1250px;
        &    .card {
            width: 94%;
            height: 112%;
            background-color: white;
            border-radius: 20px;
            p {
                margin-top: -15px;
                margin-left: 10px;
            }
        }
        &     .__bold {
            padding-top: 10px;
            font-weight:bold;
            margin-top: 5px;
            margin-left: 10px;
        }
        a {
            text-decoration: none;
            color: black;
        }
        
        
        .colonne > .card > p:nth-child(2) {
            margin-top: -5px;
            margin-bottom: -14px;
            margin-left: 10px;
        }
        img {
            width: 100%;
            margin-top: -25px;
            height: 80%;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }
    }
    .align-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-top: 45px;
    }
    .align {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 14.2px;
        margin-top: -20px;
        width: 92%;
        padding-left: 10px;
    }
    div.colonne_menu:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -14px;
    }
    div.colonne_menu:nth-child(3) > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -15px;
    }
    div.colonne_menu:nth-child(3) > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -6%;
    }
    div.colonne_menu:nth-child(3) > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -6%;
    }
    #scale_ajust {
        margin-right: -5%;
        height: 393%;
        margin-top: -17px;
    }
    #scale_ajust > i:nth-child(1) {
        margin-left: 31%;
    }
    #scale_ajust > i:nth-child(1) {
        margin-left: 31%;
    }
    div.colonne_menu:nth-child(5) > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -5%;
    }
    div.colonne_menu:nth-child(5) > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
        margin-top: -19px;
        height: 389%;
    }
    div.colonne_menu:nth-child(3) > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) {
        margin-top: -19px;
        height: 395%;
    }
    div.colonne_menu:nth-child(5) > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -5%;
    }
    div.colonne_menu:nth-child(7) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -15px;
    }
    @media all and (min-width: 390px) {

    p.choice-meal:nth-child(6) {
        margin-top: 12%;
        }

        p.choice-meal:nth-child(4) {
            margin-top: 5%;
            }
        }
        @media all and (min-width: 518px) {
            #Jeff {
                top: 1096.87px;
                }
                p.choice-meal:nth-child(6) {
                    margin-bottom: 13%;
                    }
  p.choice-meal:nth-child(4) {
                    margin-top: -5%;
                    }
            }
    div.colonne_menu:nth-child(7) > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -15px;
        height: 390%;
        margin-top: -19px;
    }
    div.colonne_menu:nth-child(7) > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -6%;
    }
    #position{
        position: inherit;
    }
    div.colonne_menu:nth-child(7) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
        height: 392%;
        margin-top: -19px;
    }
    @media all and (min-width: 650px) {
    div.colonne_menu:nth-child(5) > div:nth-child(1) {
        margin-top: -4%;
        }
        #Jeff {
            top: 99%;
            }
        p.choice-meal:nth-child(4) {
            margin-top: -5%;
          }
    }
    @media all and (min-width: 440px)  and (max-width: 518px) {
        #Jeff {
            top: 97%;
            }
        }
    body > footer:nth-child(4) {
        margin-top: 9%;
    }
    div.colonne_menu:nth-child(5) {
        height: 18%;
        margin-bottom: -18%;
    }
    div.colonne_menu:nth-child(7) > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) {
        height: 390%;
        margin-top: -19px;
    }
    #hight > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -5%;
    }
    #hight > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -6%;
    }
    
    #hight > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -5%;
    }
    
    div.card_menu:nth-child(4) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -5%;
    }
    .align_index {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 14.2px;
        padding-left: 0px;
    }
    .colonne > a:nth-child(1) > div:nth-child(1) > img:nth-child(2) {
        height: 222.06px;
    }
    div.card_menu:nth-child(4) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -5%;
    }
    div.colonne_menu:nth-child(5) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -5%;
        height: 450%;
        margin-top: -11px;
    }
    div.colonne_menu:nth-child(5) > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -5%;
        height: 397%;
        margin-top: -19px;
    }
    div.colonne_menu:nth-child(5) > div:nth-child(3) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -5%;
        height: 393%;
        margin-top: -19px;
    }
    div.card_menu:nth-child(4) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -6%;
    }
    div.colonne_menu:nth-child(5) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -13px;
        height: 391%;
        margin-top: -11px;
    }
    div.colonne_menu:nth-child(5) > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) > i:nth-child(1) {
        margin-top: 28px;
        margin-left: 24%;
    }
    div.card_menu:nth-child(4) > div:nth-child(2) > div:nth-child(3) {
        margin-right: -14px;
    }
    .colonne > a:nth-child(2) > div:nth-child(1) > img:nth-child(2) {
        height: 222.06px;
    }
    
    .colonne > a:nth-child(1) > div:nth-child(1) {
        height: 94%;
    }
    
    .colonne > a:nth-child(2) > div:nth-child(1) {
        height: 92%;
    }
    .colonne > a:nth-child(3) > div:nth-child(1) {
        height: 94%;
    }
    .colonne > a:nth-child(4) > div:nth-child(1) {
        height: 94%;
    }
    .__bold_menu {
        font-weight:bold;
        margin-top: 4px;
        margin-left: 10px;
    }
    
    .colonne > .card > p:nth-child(1) {
        font-weight: bold;
    }
    
    main {
        margin-left: 20px;
    }
    header > span {
        padding-left: 5px;
    }
    #text-ajust {
        margin-top: -28px;
    }
    
    #haut {
        margin-left: -6px;
        width: 105%;
        height: 255px;
        text-align: center;
        background-color:  #F2F2F2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 350px;
    } 
    
    footer {
        padding-bottom: 13px;
        margin-top: -20px;
        width: 105%;
        margin-left: -8px;
        background-color:#000000cf;
        & nav   {
            margin-left: 27px;
        }
        & h3 {
            font-family: Shrikhand;
            padding-top: 20px;
        }   
        & h3 , a , .fa-utensils , .fa-handshake-angle   {
            color: white;
        }
        & a {
            font-family: "Roboto", sans-serif;
            text-decoration: none;
        }
    } 
    
}

