
    @keyframes spin {
        0% {
            display: contents;
            transform: rotate(0deg);
        }   
        
        100% {
            opacity: 2;
            transform: rotate(360deg);
            display: none;
        }
    }
    
    .load_background_spinner {
        transition-delay: 1500ms;    
        animation: load 1400ms  linear;
    }
    @keyframes load {
        100% {
            background: white;
            opacity: 0;
        }    
    }
    
 @-webkit-keyframes scale-in-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
      
    }
  }
  @keyframes scale-in-hor-right {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
              display: initial;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
              display: initial;
    }
  }
  

@keyframes fa-heart {
    
    0%       { background: -webkit-linear-gradient(white,white);-webkit-background-clip: text;
      -webkit-text-fill-color: transparent;font-weight:bolder;background-position: bottom 0px right 50%;}

    1%      { background: -webkit-linear-gradient($color-primary,$color-secondary);-webkit-background-clip: text;
      -webkit-text-fill-color: transparent;font-weight:bolder;background-position: bottom 2px right 50%;}

    5%      {background: -webkit-linear-gradient($color-secondary,$color-primary);-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;background-position: bottom 5px right 50%;}
    
    10%      {background: -webkit-linear-gradient($color-secondary,$color-primary);-webkit-background-clip: text;
      -webkit-text-fill-color: transparent;background-position: bottom 10px right 50%;}

    15%      {background: -webkit-linear-gradient($color-secondary,$color-primary);-webkit-background-clip: text;
      -webkit-text-fill-color: transparent;background-position: bottom 12px right 50%;}

    20%      {background: -webkit-linear-gradient($color-secondary,$color-primary);-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;background-position: bottom 14px right 50%;}
  
    30%      {background: -webkit-linear-gradient($color-secondary,$color-primary);-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;background-position: bottom 16px right 50%;}

    60%      {background: -webkit-linear-gradient($color-secondary,$color-primary);-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;background-position: bottom 18px right 50%;}

    70%      {background: -webkit-linear-gradient($color-secondary,$color-primary);-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;background-position: bottom 19px right 50%;}

    80%      {background: -webkit-linear-gradient($color-secondary,$color-primary);-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;background-position: bottom 20px right 50%;}

    90%      {background: -webkit-linear-gradient($color-secondary,$color-primary);-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;background-position: bottom 21px right 50%;}

    100%      {background: -webkit-linear-gradient($color-secondary,$color-primary);-webkit-background-clip: text;
        -webkit-text-fill-color: transparent;background-position: bottom 22px right 50%;}
}


 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-down {
        0% { opacity: 0; -webkit-transform: translateY(0); }   
      100% { opacity: 1; -webkit-transform: translateY(-100%); }
}

  @keyframes slide-down {
        0% { opacity: 0; -webkit-transform: translateY(0); }   
      100% { opacity: 1; -webkit-transform: translateY(-100%); }
  }


@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
    0% {
        transform: rotate(0deg);
    }   
    
    100% {
        transform: rotate(360deg);
    }
}



  




